{% load static %}



<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Terapia - Physical Therapy Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/re.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/breath.css' %}">
        
    </head>






    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid bg-dark px-5 d-none d-lg-block">
            <div class="row gx-0 align-items-center" style="height: 45px;">
                <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                    <div class="d-flex flex-wrap">
                        <a href="#" class="text-light me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>Find A Location</a>
                        <a href="#" class="text-light me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+01234567890</a>
                        <a href="#" class="text-light me-0"><i class="fas fa-envelope text-primary me-2"></i>Example@gmail.com</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <div class="d-flex align-items-center justify-content-end">
                        <a href="#" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-light btn-square border rounded-circle nav-fill me-0"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        
        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
                <a href="index.html" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fas fa-star-of-life me-3"></i>Terapia</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                        <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                        <a href="{% url 'relax' %}" class="nav-item nav-link">Relax Your Self</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="{% url 'relax' %}" class="dropdown-item">Relax Your Self</a>
                                <a href="{% url 'feature' %}" class="dropdown-item">Features</a>
                                <a href="{% url 'appointment' %}" class="dropdown-item">Appointment</a>
                                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
                                
                            </div>
                        </div>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
                    </div>
                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0">Book Appointment</a>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Services</h1>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-primary">Services</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">What We Do</h4>
                    </div>
                    <h1 class="display-3 mb-4">Our Service Given Mental Therapy By Expert.</h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
                </div></div></div>


    <div class="breathing-exercise">
        <h2>Deep Breathing Exercise</h2>
        <p>Follow the circle to breathe in and out:</p>
        <div class="circle"></div>
        <p class="instruction">Breathe In</p>
      </div>
    <script src="{% static 'js/breath.js' %}"></script>



  <!--play list -->
  <div class="section-title" id="vidtitle" data-aos="fade-up" >
    <h4 >Some videos about online Courses </h4>
  </div>
  <div class="container" id="play" data-aos="fade-up" >
    <p >these videos will be an examples of how you can learn about photography basic and camera lense and how to take a perfect photos with professional photographers online</p>

    <div class="main-video-container"  data-aos="fade-up" data-aos-delay="200">
       <video src="{% static 'img/Super_Fast_Anti-Anxiety_Relief_Point!__Dr._Mandell(360p).mp4'%}" loop controls class="main-video"></video>
       <h3 class="main-vid-title">80_Of Photography Basics In Just 10 Minutes</h3>
    </div>
 
    <div class="video-list-container"  data-aos="fade-up" data-aos-delay="200">
 
       <div class="list active">
          <video src="{% static 'img/Sound_That_Heals_☯️_432_hz_-_Tibetan_Meditation_Music_-_Sound_Bath_Meditation_-_Healing_Frequencies(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">Master Product Photography</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/A_JAPANESE_METHOD_TO_RELAX_IN_5_MINUTES(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">Best Budget Cameras in 2023_Best Cheap Camera For Photo</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Try_This_and_Fall_Asleep_Super_Fast!__Dr._Mandell(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">BEST Camera For Beginners</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Pictures_that_relieve_anxiety!_#shorts(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">ULTIMATE Beginner_s Guide To CAMERA LENSES</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Positive_energy_sounds____#shorts_#explore_#positivevibes_#meditation_#music_#beat_#music_#(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">Exposure Explained Simply - Aperture_ Shutter Speed</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Instantly_Relax_Your_Mind_and_Body!__Dr._Mandell(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">COMPOSITION - Most Important thing in PHOTOGRAPHY</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Instantly_Relax_Your_Mind_and_Body!__Dr._Mandell(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">Camera Lenses Explained For Beginners (What Do The Numbers Mean_)</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Instantly_Relax_Your_Mind_and_Body!__Dr._Mandell(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">PHOTOGRAPHY BASICS</h3>
       </div>
 
       <div class="list">
          <video src="{% static 'img/Instantly_Relax_Your_Mind_and_Body!__Dr._Mandell(360p).mp4'%}" class="list-video"></video>
          <h3 class="list-title">The ONLY 3 Lenses You Need For PRO Videos</h3>
       </div>
 
    </div>
 
 </div>
 
<script>
let listvid=document.querySelectorAll('.video-list-container .list');
let mainvid=document.querySelector('.main-video-container video');
let title=document.querySelector('.main-video-container .main-vid-title');
listvid.forEach(video =>{
  video.onclick=() =>{
    listvid.forEach(list =>list.classList.remove('active'));
    video.classList.add('active');
    if(video.classList.contains('active')){
      let src=video.children[0].getAttribute('src');
      mainvid.src=src;
      let text=video.children[1].innerHTML;
      title.innerHTML=text;
    };


  };

});

</script>
      


        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4"><i class="fas fa-star-of-life me-3"></i>Terapia</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem impedit eos autem dolores laudantium quia, qui similique
                            </p>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-white me-2"></i>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Quick Links</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i> About Us</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Contact Us</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Privacy Policy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Terms & Conditions</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Our Blog & News</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Our Team</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Terapia Services</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i> All Services</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Physiotherapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Diagnostics</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Manual Therapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Massage Therapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Rehabilitation</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Contact Info</h4>
                            <a href=""><i class="fa fa-map-marker-alt me-2"></i> 123 Street, New York, USA</a>
                            <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
                            <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i> +012 345 67890</a>
                            <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-white"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 text-center text-md-end text-white">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        

        <!-- Template Javascript -->
        <script src="{% static 'js/main1.js' %}"></script>
        <script>
document.querySelectorAll('.video-container video').forEach(vid =>{
  vid.onclick=()=>{
    document.querySelector('.popup-video').style.display='block';
    document.querySelector('.popup-video video').src=vid.getAttribute('src')
    }

});
document.querySelector('.popup-video span').onclick= () => {
  document.querySelector('.popup-video').style.display='none';

}

</script>
        
    </body>

</html>                